---
---

@import "{{ site.theme }}";

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #C86DD7;
}

.page-header {
  background-color: #3023AE;
  background-image: linear-gradient(120deg, #3023AE, #C86DD7);
}
